*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #546513;
    background-image: url("/Content/DrumKit_Content/drum.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.cover{
    height: 100vh;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.7);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.keys{
    width: min(1100px, 90%);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 15px;
    
}

.key{
    min-height: 100px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 7px;
    transition: all 0.07s;
    border: 2px solid black;
}

kbd{
    font-size: clamp(22px, 3vw, 30px);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
}

.sound{
    color: #ffc600;
    display: block;
    font-size: clamp(11px, 1.5vw, 15px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

.playing kbd{
    color: #ffc600;
}


@media (max-width: 900px) {

    .keys {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .key {
        min-height: 100px;
    }
}



@media (max-width: 600px) {

    .cover {
        padding: 15px;
    }
    .keys {
        width: 95%;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .key {
        min-height: 80px;
    }
    .playing {
        transform: scale(1.05);
    }
}

@media (max-width: 380px) {

    .keys {
        gap: 7px;
    }
    .key {
        min-height: 70px;
    }
    span {
        font-size: 10px;
    }
}



